{% extends 'layout.html' %}

{% block content %}
    <style>
        {% include 'css/date-picker.css' %}
    </style>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1>Change menu</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>{{ menu_form.as_table }}</table>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
    <script>
        $("#id_expiration_date").datepicker({"autoHide": true, 'format': 'yyyy-mm-dd'});
    </script>
{% endblock %}